<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MHW Tracker</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/siteicon.png" alt="site logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section class="body-content">
    <section class="body-section">
      <h1>Great Jagras</h1>
    </section>
    <section class="monster-image">
      <img src="/assets/img/great-jagras-image.jpg" alt="Great Jagras Icon">
      <p>A Great Jagras walking in front of a waterfall.</p>
    </section>
    <section class="monster-desc">
      <p>Great Jagras are large fanged wyverns known for their gluttonous behavior. They prowl the Ancient forest looking for smaller prey 
        to swallow whole to then later regurgitate for their pack. Their appearance is that of an oversized iguana. Outside of it’s 
        unhinging jaw and elastic belly, there is not much to note about this monster.</p>
    </section>
    <section class="body-content-table">
      <h3>Contents</h3>
      <p>
        1 <a href="#behavior">Behavior</a>
        <br />
        2 <a href="#location">Location</a>
        <br />
        3 <a href="#combat-tactics">Combat Tactics</a>
        <br />
        4 <a href="#weak-points">Weak Points</a>
        <br />
        5 <a href="#loot">Loot</a>
      </p>
    </section>
    {{#if true}}
      <br />
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="location">
      <h2>Location</h2>
      <p><b>Ancient Forest</b></p>
      <p>They can be found stalking the grassland area just outside of the forest proper. If there are smaller herbivores in an area, 
        a Great Jagras won’t be far behind looking for a quick meal.</p>

      <p>Their nest can be found just within the forest itself and is guarded by a swarm of minor Jagras.</p>
    </section>
    <hr>
    <section class="body-section" id="behavior">
      <h2>Behavior</h2>
      <p>These insatiable monsters can often be found hounding after smaller beasts in order to gobble up the unfortunate prey. 
        After this, they will waddle back to their pack and regurgitate the semi-digested meat for the pack to feed upon.</p>

      <p>They are fairly territorial within their nests, and will protect their pack from any monster that threatens them. 
        Getting between a Great Jagras and it’s next meal is not advised either, as that is a one way ticket to angering the beast as well.</p>
    </section>
    <hr>
    <section class="body-section" id="combat-tactics">
      <h2>Combat Tactics</h2>
      <p>Great Jagras are neither fast nor strong. Despite this, they can take an arrogant hunter by surprise from time to time, 
        so be sure to never let your guard down.</p>

      <p>They use a combination of tackles, bites, swipes, and tail lashes to attack threats. If they are near their nest, 
        they can summon their lesser pack members to overwhelm any intruder not prepared to be swarmed.</p>

      <p>When weakened, the monster may flee and quickly eat a lesser monster in an attempt to regain its strength. 
        If it succeeds, it will be significantly slower, and it’s distended belly will be a weak spot while it is expanded. 
        Dealing enough damage to the monster while it is engorged will cause it to spew it’s meal, stunning it briefly 
        and rewarding the hunter with some scavengable meat and assorted goodies it may have swallowed.</p>

      <p>If a hunter wishes to capture a Great Jagras, they can take advantage of it’s appetite by drugging some meat 
        and leaving it near the beast’s nest. It will quickly succumb to the sedatives within and fall fast asleep, 
        allowing for easy trapping of the monster.</p>

      <p>It is weak to fire element weapons, and all statuses. Dispatch with this overgrown lizard with whatever tools you wish 
        for it has no outstanding resistances.</p>
    </section>
    {{#if true}}
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="weak-points">
      <h2>Weak Points</h2>
      <img src="/assets/img/great-jagras-weaknesses.jpg" alt="Great Jagras Weak Points">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="body-section" id="loot">
      <h2>Loot</h2>
      <img src="/assets/img/great-jagras-loot.jpg" alt="Great Jagras Loot Table">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="nav-footer">
      <p>
        <a href="/barroth">Barroth</a> | <a href="/great-jagras">Great Jagras</a> | <a href="/kulu-ya-ku">Kulu-Ya-Ku</a> | <a href="/tobi-kadachi">Tobi-Kadachi</a>
      </p>
    </section>
  </section>
</body>
</html>
