<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MHW Tracker</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/siteicon.png" alt="site logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section class="body-content">
    <section class="body-section">
      <h1>Kulu-Ya-Ku</h1>
    </section>
    <section class="monster-image">
      <img src="/assets/img/kulu-ya-ku-image.jpg" alt="Kulu-Ya-Ku Icon">
      <p>The Large Monster Field Guide symbol for the Kulu-Ya-Ku. It showcases the bird's natural tendency to hold a rock for defensive measures.</p>
    </section>
    <section class="monster-desc">
      <p>Kulu-Ya-Ku is a large bird wyvern known for its intelligence and the ability to use the environment to defend itself. 
        Their wings end in dextrous claws which they use to wield rocks and steal eggs.</p>
    </section>
    <section class="body-content-table">
      <h3>Contents</h3>
      <p>
        1 <a href="#behavior">Behavior</a>
        <br />
        2 <a href="#location">Location</a>
        <br />
        3 <a href="#combat-tactics">Combat Tactics</a>
        <br />
        4 <a href="#weak-points">Weak Points</a>
        <br />
        5 <a href="#loot">Loot</a>
      </p>
    </section>
    {{#if true}}
      <br />
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="location">
      <h2>Location</h2>
      <p><b>Ancient Forest, Wildspire Waste</b></p>
      <p>These mischievous monsters can be found skulking around the nests of herbivores in both of their respective habitats. 
        They are more nomadic than territorial, opting to grab food and run instead of protecting any specific land or nest.</p>
    </section>
    <hr>
    <section class="body-section" id="behavior">
      <h2>Behavior</h2>
      <p>They generally are non-hostile and will avoid aggressive actions from larger monsters and hunters. However, 
        they will defend themselves with beak and claw should they find themselves cornered.</p>

      <p>When they find a moment, they will scavenge rocks and other objects from the ground, 
        using them as blunt instruments and make-shift shields in their attempts to protect themselves.</p>
    </section>
    <hr>
    <section class="body-section" id="combat-tactics">
      <h2>Combat Tactics</h2>
      <p>Kulu-Ya-Ku are relatively easy to dispatch owing to their small size and underwhelming offense.</p>

      <p>This does not mean that you should underestimate them, as they can take an unprepared hunter by surprise, 
        especially when they have a weapon. Speaking of, when the wyvern has a rock in claw be mindful of standing in front of the beast.</p>

      <p>When equipped, the monster can assume a blocking stance with the rock. If a hunter strikes the rock, 
        their attack will be deflected, and their weapon will suffer a large amount of sharpness damage. Additionally, all attacks 
        involving the rock have a high stun value, so be wary of that status effect.</p>

      <p>However, when it assumes this defensive stance, it exposes its flank and is easily staggered. 
        When staggered while holding a rock, the monster will drop said rock and be stunned for a short while after.</p>

      <p>Kulu-Ya-Ku are susceptible to all elements, and do not resist any status effects, so feel free to attack it with whatever equipment you have.</p>
    </section>
    {{#if true}}
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="weak-points">
      <h2>Weak Points</h2>
      <img src="/assets/img/kulu-ya-ku-weaknesses.jpg" alt="Kulu-Ya-Ku Weak Points">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="body-section" id="loot">
      <h2>Loot</h2>
      <img src="/assets/img/kulu-ya-ku-loot.jpg" alt="Kulu-Ya-Ku Loot Table">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="nav-footer">
      <p>
        <a href="/barroth">Barroth</a> | <a href="/great-jagras">Great Jagras</a> | <a href="/kulu-ya-ku">Kulu-Ya-Ku</a> | <a href="/tobi-kadachi">Tobi-Kadachi</a>
      </p>
    </section>
  </section>
</body>
</html>
