<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MHW Tracker</title>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/siteicon.png" alt="site logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section class="body-content">
    <section class="body-section">
      <h1>Tobi-Kadachi</h1>
    </section>
    <section class="monster-image">
      <img src="/assets/img/tobi-kadachi-image.jpg" alt="Tobi-Kadachi Icon">
      <p>The Large Monster Field Guide symbol for the Tobi-Kadachi. The symbol displays the monster's sleek shape and vibrant silver tail.</p>
    </section>
    <section class="monster-desc">
      <p>Tobi-Kadachi is a large fanged wyvern distinguished by its serpentine body and acrobatic movement. The long patches of fur 
      covering the length of the monster’s sweeping tail allow it to store static electricity which it then uses to defend itself and hunt prey.</p>

      <p>Additionally, flaps of skin stretching between the fore and hind legs grant the monster the ability to glide short distances.</p>
    </section>
    <section class="body-content-table">
      <h3>Contents</h3>
      <p>
        1 <a href="#behavior">Behavior</a>
        <br />
        2 <a href="#location">Location</a>
        <br />
        3 <a href="#combat-tactics">Combat Tactics</a>
        <br />
        4 <a href="#weak-points">Weak Points</a>
        <br />
        5 <a href="#loot">Loot</a>
      </p>
    </section>
    {{#if true}}
      <br />
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="location">
      <h2>Location</h2>
      <p><b>Ancient Forest</b></p>
      <p>Being the agile hunter that they are, Tobi-Kadachi are often found gliding from tree to tree in the deepest parts of the Ancient Forest. 
        They can be observed hunting smaller prey in the few clearings dotting the wood, as well as patrolling territory in the winding branch-paths just above. 
        They rarely attack hunters unless provoked, and will opt to retreat to favorable spaces should the need to defend itself arise.</p>
    </section>
    <hr>
    <section class="body-section" id="behavior">
      <h2>Behavior</h2>
      <p>The monster uses this time spent moving to brush it’s furred tail and back against as many trees as possible, building up static electricity. 
        It does this so that it may quickly turn on any unwary pursuers with a deadly, electrically charged tail slam.</p>

      <p>When gravely injured, the monster will retreat to its nest. Keep in mind that it may turn and fight if it is sufficiently harassed during its flight.</p>
    </section>
    <hr>
    <section class="body-section" id="combat-tactics">
      <h2>Combat Tactics</h2>
      <p>Tobi-Kadachi is a fleet-footed foe capable of confusing both prey and predator alike as it leaps from tree to tree.</p>
      
      <p>When the monster is not in a charged state, it is fairly docile, and will stick to pouncing and biting attacks launched from the ground.</p>
      
      <p>However, when it is charged, you’ll hear sparks of electricity, and it will rattle its large tail as a warning. 
      Once the monster is in this state, be wary of it’s increased mobility, deadly tail attacks, and the thunderblight debuff it can apply. 
      If you find yourself debuffed by this, eat a nulberry, or retreat from the monster for a short while.</p>
      
      <p>Getting hit while suffering from thunderblight will stun the hunter in most cases. Avoid this at all costs, since when a hunter is stunned, 
      the beast will follow up with the aforementioned tail-slam. This will cause most unprepared hunters to faint in a single blow.</p>
    </section>
    {{#if true}}
      <img class="advertisement" src="https://via.placeholder.com/480x360?text=Ad+-+Remove+with+Premium" alt="Placeholder ad">
    {{/if}}
    <hr>
    <section class="body-section" id="weak-points">
      <h2>Weaknesses</h2>
      <img src="/assets/img/tobi-kadachi-weaknesses.jpg" alt="Tobi-Kadachi Weak Points">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="body-section" id="loot">
      <h2>Loot</h2>
      <img src="/assets/img/tobi-kadachi-weaknesses.jpg" alt="Tobi-Kadachi Loot Table">
      <p>Image of the Monster Hunter: World Large Monster Field Guide.</p>
    </section>
    <hr>
    <section class="nav-footer">
      <p>
        <a href="/barroth">Barroth</a> | <a href="/great-jagras">Great Jagras</a> | <a href="/kulu-ya-ku">Kulu-Ya-Ku</a> | <a href="/tobi-kadachi">Tobi-Kadachi</a>
      </p>
    </section>
  </section>
</body>
</html>
